apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.appName }}
spec:
  ports:
  - protocol: TCP
    port: 80
    targetPort: {{ .Values.port }}
    nodePort: 31000
  selector:
    app: {{ .Values.appName }}
    tier: frontend
  type: NodePort